<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674964971272-lsm63a7rok0lthc7lso0q63bm24ikk64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674964971272-lsm63a7rok0lthc7lso0q63bm24ikk64</string>
	<key>API_KEY</key>
	<string>AIzaSyAHu6990Pt6sS-P-d9CW8P5XiCcS2zg6xE</string>
	<key>GCM_SENDER_ID</key>
	<string>674964971272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uas1972025</string>
	<key>PROJECT_ID</key>
	<string>uas-ticket-movie-app</string>
	<key>STORAGE_BUCKET</key>
	<string>uas-ticket-movie-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674964971272:ios:ef56b75475695f3a08d6bd</string>
</dict>
</plist>